#app-wrap {
  height: auto;
  min-height: 100%;
  width: 100%;
  position: relative;
  -webkit-font-smoothing: subpixel-antialiased;

  .inner-wrap {
    height: 100%;
    width: 100%;
  }
}

/*
  Avatars
*/
img.avatar {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  background-clip: content-box;
  border-position: inside;
  border: 2px solid transparent;
}